

.flexrow() {
    display: flex;
    flex-direction: row;
}

.flexcolum() {
    display: flex;
    flex-direction: column;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Code for site */

body, html {
    background-image: url(image\ reversed.jpg);
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    margin: 0;
    overflow: hidden;
 
}


.container {
    width: auto;
    margin: 0 auto;
    /* border: 1px dashed black; */ 


@media (max-width: 500px) {
    .container {
        width: 100%;
        }
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* border: 1px solid black; */
}

.navbar {
    /* border: 5px dashed pink; */
    display: flex;
}

nav a {
    text-decoration: none;
    margin-top: 2%;
    margin-right: 5%;
    color: #B6D2E8;
}

.header {
    /* border: 2px dashed red; */
    text-align: center;
    /* align-items: left; */
    /* justify-content: center; */
    font-size: 32px;
}

.information {
    .flexcolum();
    width: 71%;
    margin-left: 13%;
    margin-top: -3px;
    /* border: 2px solid pink; */

    @media (max-width: 500px) {
        .flexcolum();
    }
}

.about {
    /* border: 2px solid yellow; */
    width: 30%;
    height: 167px;
    margin: 2% 0 4% 7%;
    font-weight: bold;
    font-size: 16px;

    @media (max-width: 500px) {
        width:auto;
        background-color: whitesmoke;
        height: auto;
        border-radius: 5%;
        padding-left: 13px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
}

p {
    font-weight: bold;
    font-size: 16px;
}

.why {
    /* border: 2px dashed purple; */
    width: 30%;
    height: 167px;
    margin-left: 7%;
    color: black;

    @media (max-width: 500px) {
        width: auto;
        background-color: whitesmoke;
        height: auto;
        border-radius: 5%;
        padding-left: 13px;
        padding-right: 5px;
        padding-bottom: 5px;
    }
}


p {
    font-weight: bold;
    font-size: 16px;
}

.login {
    /* border: 1px dashed blue; */
    .flexcolum();
    align-items: center;
    align-content: center;
    width: 25%;
    position: absolute;
    top: 280px;
    right: 169px;
    background-color: whitesmoke;
    height: 35%;
    border-radius: 5%;

    @media (max-width: 500px) {
        top: 761px;
        width: auto;
        height: auto;
        margin-right: -28px;
    }
}

/* .login:hover {
    opacity: 5px;
} */


.login h2 {
    text-align: center;
    color: black;
}

.username .password {
    text-align: center;
    width: 45%;
    /* font-weight: bolder; */
}

.password {
    margin-bottom: 5%;
}

/* .password {
    width: 40%;
} */

.buttons {
    display: flex;
    justify-content: space-evenly;
    
}

.blogin {
    width: 100px;
    margin: 5px;
    height: 46px;
    background-color: #B5D1E8;
    font-weight: bold;
    border-radius: 9%;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.bregister {
    width: 100px;
    margin: 5px;
    height: 46px;
    background-color: #2D435C;
    font-weight: bold;
    border-radius: 9%;
    border: none;
    padding: 15px;
    font-size: 16px;
}

.remember {
    margin-top: 5%;
}

/*Team Page */

.tm {
    text-align: center;
    font-size: 38px;
}

.group {
    .flexrow();
    justify-content: space-around;
    padding: 0 0 0 14%;
    
    @media (max-width: 500px) {
        .flexrow();
        padding: 0 0 0 5%
    }
}

.team1 {
    .flexcolum();
  margin-top: 8%;
}

.team2 {
    .flexcolum();
   margin-top: 8%;
}  

.team3 {
    .flexcolum();
    margin-top: 8%;
 }  

.team4 {
    .flexcolum();
    margin-top: 8%;
}

.member {
    
    width: 8%;
    /* padding: 1%;  */
}

.img {
    border-radius: 5%;
    width: 350%;

    @media (max-width: 500px) {
        width: 900%;
    }
}

